body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #230C33;
    color: #333;
}

header {
    background-color: #592E83;
    padding: 20px;
    text-align: center;
    color: #230C33;
    border-radius: 5px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #CAA8F5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        max-width: 100%;
    }
}


